body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #000;
    line-height: 1.8;
}

.w3-bar-item {
  color: #01FF70;
  font-weight: bold;
  fill: grey;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('010101.jpg');
    min-height: 100%;
}

/* Second image (ASSIGNMENT) */
.bgimg-2 {
    background-image: url("010101.jpg");
    min-height: 400px;
}


.w3-wide {letter-spacing: 6px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
        min-height: 200px;
    }
}

.legend {
  padding: 5px;
  font: 14px sans-serif;
}

.axis { font: 12px sans-serif;

 }

 rect:hover {
   fill: #777;
 }

.m {
  text-align: right;
  font: 14px sans-serif;
  color: Orange;
}

.text {
  font: 12px sans-serif;
}

.tooltip {
  color: white;
  position: absolute;
  text-align: center;
  width: 150px;
  height: 60px;
  padding: 2px;
  font: 14px sans-serif;
  background: rgba(0,0,0,.8);
  border: 2px solid black;
  pointer-events: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
  stroke-width: 3px;
}
