/* Gijs Beerens - 10804463
This CSS file contains all styling for the HTML elements in the web page.
Sources:
https://www.w3schools.com/css/css_dropdowns.asp
https://www.w3schools.com/tags/tag_label.asp
https://www.w3schools.com/tags/tag_button.asp
https://www.w3schools.com/howto/howto_css_switch.asp
*/

/* __________________________________________ */
/* __________PLOT-UNRELATED STYLING__________ */
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #000;
  line-height: 1.8;
  background-color: rgba(119,136,153, 0.1);
}

/* navbar styling */
.w3-bar-item {
  color: #ffffff;
  background-color: rgba(119,136,153, 0.7);
  font-weight: bold;
  fill: grey;
}

/* create a Parallax Effect */
.bgimg-1, .bgimg-2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* first banner */
.bgimg-1 {
    background-image: url('010101.jpg');
    min-height: 100%;
}

/* second banner */
.bgimg-2 {
    background-image: url("fruitbanner.jpg");
    min-height: 400px;
}

/* third banner */
.bgimg-3 {
    background-image: url("moleculenbanner.jpg");
}

/* header styling */
.w3-wide {letter-spacing: 6px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
      min-height: 200px;
  }
}

/* ______________________________________________*/
/* __________RADARCHART-RELATED STYLING__________ */

/* radarchart variables positioning */
.radarvariables {
  margin: auto;
  width: 55%;
}

/* first radar dropdown styling */
#radar-dropdown {
  height: 35px;
  background-color: #800000;
  opacity: 0.8;
}

/* second radar dropdown styling */
#radar-dropdown2 {
  height: 35px;
  background-color: #ffa500;
  opacity: 0.8;
}

/* unit quantity input styling */
#Grams {
  height: 35px;
  width: 75px;
}

/* compare button styling */
#comparebutton {
  height: 36px;
}

/* unit label styling */
#unitlabel {
  color: green;
}

/* unit of measurement switch positioning */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* unit of measurement switch styling */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: green;
  -webkit-transition: .4s;
  transition: .4s;
}
/* slider characteristics untoggled */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* slider bg color when toggled */
input:checked + .slider {
  background-color: blue;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/* dynamic slider movement */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* ____________________________________________ */
/* __________BARCHART-RELATED STYLING__________ */

/* style barchart dropdown */
#barchart-dropdown {
  height: 35px;
  background-color: rgba(119,136,153, 0.3);
  opacity: 0.8;
}

/* _______________________________________________ */
/* __________SCATTERPLOT-RELATED STYLING__________ */

/* style scatter dropdown */
#scatter-dropdown {
  height: 35px;
  background-color: rgba(119,136,153, 0.3);
  opacity: 0.8;
}
